<% @vision.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_for @vision do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Para onde vou?" %>
        <%= form.text_area :where_im_going, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Onde quero chegar?" %>
        <%= form.text_area :where_arrive, class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Como tornarei concreta a minha missão?" %>
        <%= form.text_area :how_complete_mission, class:"form-control" %>
      </div>
    </div>
  </div>
  <%= form.submit texto_da_acao, class:"btn btn-primary" %>
<% end %>
