<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
      <span class="login100-form-title p-b-55">Cadastro</span>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
        <% resource.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger" role="alert">
            <%= msg %>
          </div>
        <% end %>

        <%= form.label "Nome", class: "label-input" %>
        <div class="wrap-input100 validate-input m-b-8" data-validate="Name is required">
          <%= form.text_field :name, autocomplete: "off", placeholder: "Nome", autofocus: true, class: "input100" %>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-user"></span>
						</span>
        </div>

        <%= form.label "Email", class: "label-input" %>
        <div class="wrap-input100 validate-input m-b-8" data-validate="Valid email is required: ex@abc.xyz">
          <%= form.email_field :email, autocomplete: "off", placeholder: "Email", class: "input100" %>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
        </div>
        <%= form.label "Senha", class: "label-input" %>

        <%= form.label "Deve conter: 1 letra maiúscula, 1 minúscula, 1 dígito numérico e 1 caractere especial", class: "label-input", style: "font-size: 12px;" %>
        <div class="wrap-input100 validate-input m-b-8" data-validate="Password is required">
          <%= form.password_field :password, placeholder: "Senha (mínimo 8 caracteres)", autocomplete: "new-password", class: "input100" %>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>

        <%= form.label "Repetir senha", class: "label-input" %>
        <div class="wrap-input100 validate-input m-b-8" data-validate="Password is required">
          <%= form.password_field :password_confirmation, placeholder: "Insira novamente a senha", autocomplete: "new-password", class: "input100" %>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>

        <%= form.hidden_field :selected_plan, value: nil %>

        <div class="container-login100-form-btn p-t-25">
          <%= form.submit "Cadastrar", class: "login100-form-btn" %>
        </div>

      <% end %>
      <div class="p-t-8">
        <span class="txt1">
          Ao se cadastrar, você concorda com nossos <button type="button" class="" data-toggle="modal" data-target="#myModal">Termos de Uso</button>.
        </span>
      </div>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="z-index: 10000;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Termos de Uso</h4>
            </div>
            <div class="modal-body">
              <div class="col-xs-12">
                <%= render 'terms' %>
              </div>
            </div>
            <div class="modal-footer" style="border-top:0px;">
            </div>
          </div>
        </div>
      </div>

      <div class="text-center w-full p-t-115">
						<span class="txt1">
							Já tem uma conta?
						</span>
        <%= link_to "Entrar", new_user_session_path, method: "get", class: "txt1 bo1 hov1" %>
      </div>

    </div>
  </div>
</div>



