<% @csf.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_for @csf do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Que características me tornam único?" %>
        <%= form.text_area :what_makes_me_unique, class:"form-control"  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Quais minhas melhores competências?" %>
        <%= form.text_area :best_attributes, class:"form-control"  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Quais delas são essenciais para meus objetivos?" %>
        <%= form.text_area :essential_atributes, class:"form-control"  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Quais fatores impactam no meu bem estar?" %>
        <%= form.text_area :health_factors, class:"form-control"  %>
      </div>
    </div>
  </div>

  <%= form.submit action_text, class: "btn btn-primary" %>

<% end %>
