<div class="container">
  <div class="wrap-collabsible p-t-60 p-b-20">
    <input id="collapsible" class="toggle" type="checkbox" style="display: none" checked>
    <label for="collapsible" class="lbl-toggle">FATORES CRÍTICOS DE SUCESSO</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <div class="content-text p-b-10">
          Fatores Críticos de Sucesso são pontos chave para atingir objetivos.
          Que fatores na minha vida pessoal são decisivos para meu bem-estar e sucesso,
          quais as competências mais importantes.

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @my_csf %>
      <%= link_to csfs_path do %>
        <div class="col-xs-12 p-t-10">
          <div class="offer offer-radius offer-default">
            <div class="shape">
              <div class="shape-text">
              </div>
            </div>
            <div class="offer-content">
              <h3 class="color-dark">Meus Fatores Críticos de Sucesso </h3>
              <hr/>
              <h3 class="lead color-dark m-b-5">Que características me tornam único?</h3>
              <p><%= "#{@my_csf.what_makes_me_unique}" %></p>
              <h3 class="lead color-dark m-b-5">Quais minhas melhores competências?</h3>
              <p><%= "#{@my_csf.best_attributes}" %></p>
              <h3 class="lead color-dark m-b-5">Quais delas são essenciais para meus objetivos?</h3>
              <p><%= "#{@my_csf.essential_atributes}" %></p>
              <h3 class="lead color-dark m-b-5">Quais fatores impactam no meu bem estar?</h3>
              <p><%= "#{@my_csf.health_factors}" %></p>
              <p class="p-l-15 p-b-5 p-r-5 align-right"><%= @my_csf.created_at.strftime("%d/%m/%Y") %></p>

            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render partial: "form", locals: {action_text: "Criar"} %>
  <br/>
  <div class="justify-buttons">
    <%= link_to " Voltar para Papéis", new_role_path, class: "btn btn-default lnr lnr-arrow-left" %>
    <%= button_tag " Continuar para Âmbitos", type: 'button', onclick: "checkCsfAttributes()", name: "csf_to_sphere", id: "csf_to_sphere", class: 'btn btn-primary lnr lnr-arrow-right align-right', remote: true %>

  </div>
</div>