<%= form_with(model: swotpart, local: true) do |form| %>
  <% if swotpart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(swotpart.errors.count, "error") %> prohibited this swotpart from being saved:</h2>

      <ul>
      <% swotpart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :plan_id, value: @plan_id %>

  <div class="field">
    <%= form.label "Descrição" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <br/>

  <%= form.submit "Atualizar", class: "btn btn-primary" %>

<% end %>
