<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @swotpart.plan %>
</p>

<p>
  <strong>Name:</strong>
  <%= @swotpart.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @swotpart.partname %>
</p>

<%= link_to 'Edit', edit_swotpart_path(@swotpart) %> |
<%= link_to 'Back', swotparts_path %>
