<p id="notice"><%= notice %></p>

<h1>Strengths</h1>

<table>
  <thead>
    <tr>
      <th>Plan</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strengths.each do |strength| %>
      <tr>
        <td><%= strength.plan %></td>
        <td><%= strength.name %></td>
        <td><%= link_to 'Show', strength %></td>
        <td><%= link_to 'Edit', edit_strength_path(strength) %></td>
        <td><%= link_to 'Destroy', strength, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Strength', new_strength_path %>
