<p id="notice"><%= notice %></p>

<p>
  <strong>Plan:</strong>
  <%= @strength.plan %>
</p>

<p>
  <strong>Name:</strong>
  <%= @strength.name %>
</p>

<%= link_to 'Edit', edit_strength_path(@strength) %> |
<%= link_to 'Back', strengths_path %>
