<% @objective.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_for @objective do |form| %>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Nome do seu objetivo estratégico" %>
        <%= form.text_field :name, autocomplete: "off",  class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label "Âmbito" %> (Ainda não tem um âmbito? <%= link_to "Clique aqui para criar", new_sphere_path, style: "color: black" %>)
        <%= form.collection_select :sphere_id, @spheres  || [], :id, :name, {}, class: "form-control" %>
      </div>
    </div>
  </div>

  <%= form.submit action_text, class: "btn btn-primary" %>

<% end %>

