<div class="container">
  <div class="col-xs-12  p-t-10">

    <div class="wrap-collabsible p-t-60 p-b-20">
      <input id="collapsible" class="toggle" type="checkbox" style="display: none">
      <label for="collapsible" class="lbl-toggle">ATIVIDADES</label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="content-text p-b-10">
            As atividades servem para acompanhar o progresso de uma meta.
            Adicione atividades já realizadas ou não e atualize o progresso da meta.
            <br/>
            <br/>
            Exemplos de Atividades para a meta Passar em Geografia esse bimestre:
            <br/>
            <br/>
            Estudar capítulo 1<br/>
            Estudar capítulo 2<br/>
            Estudar capítulo 3<br/>
            Fazer exercícios<br/>
            Revisar<br/>
            Fazer prova<br/>
          </div>
        </div>
      </div>
    </div>

    <div class="offer-without-hover offer-radius offer-info">
      <span class="shape"></span>
      <div class="offer-content">
        <h3 class="lead color-dark">
          Objetivo: <%= @objective.name %>
          <%= link_to " ",
                      edit_objective_path(@objective),
                      class: "lnr lnr-pencil",
                      id:"button-edit-objective"%>
          <%= link_to " ", @objective,
                      method: :delete,
                      class: "lnr lnr-circle-minus",
                      data: {confirm: "Tem certeza que deseja remover esse Objetivo Estratégico? #{@objective.name}"},
                      id:"button-delete-objective"
          %>
        </h3>
        <div class="align-right">
          <h3 class="label-objective"><%= @objective.sphere.name %></h3>
        </div>
        <h6>Data: <%= @objective.created_at.strftime("%d/%m/%Y") %></h6>
        <h6>Plano: <%= @current_plan.name %></h6>

        <br/>
        <span class="card-divider"></span>
        <br/>
        <h3 class="lead color-dark">Metas</h3>

        <%= render partial: "goals/cardgoal", :collection => @objective.goals %>
        <div class="padding-all">
          <%= link_to "Adicionar Meta",
                      new_goal_path(objective_id: @objective.id),
                      id:"button-create-goal",
                      class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>