<div class="container">
  <div class="col-xs-12  p-t-10">
    <div class="offer-without-hover offer-radius offer-info">
      <span class="shape"></span>
      <div class="offer-content">
        <h3 class="lead color-dark">
          Objetivo: <%= @objective.name %>
          <%= link_to " ",
                      edit_objective_path(@objective),
                      class: "lnr lnr-pencil" %>
          <%= link_to " ", @objective,
                      method: :delete,
                      class: "lnr lnr-circle-minus",
                      data: {confirm: "Tem certeza que deseja remover esse Objetivo Estratégico? #{@objective.name}"} %>
        </h3>
        <h6>Âmbito: <%= @objective.sphere.name %></h6>
        <h6>Data: <%= @objective.created_at.strftime("%d/%m/%Y") %></h6>
        <br/>
        <span class="card-divider"></span>
        <br/>
        <h3 class="lead color-dark">Metas</h3>

        <%= render partial: "goals/cardgoal", :collection => @objective.goals %>
        <div class="padding-all">
          <%= link_to "Adicionar Meta",
                      new_goal_path(objective_id: @objective.id),
                      class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>