<p id="notice"><%= notice %></p>

<h1>Objectives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Concluded</th>
      <th>Plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objectives.each do |objective| %>
      <tr>
        <td><%= objective.name %></td>
        <td><%= objective.concluded %></td>
        <td><%= objective.plan %></td>
        <td><%= link_to 'Show', objective %></td>
        <td><%= link_to 'Edit', edit_objective_path(objective) %></td>
        <td><%= link_to 'Destroy', objective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objective', new_objective_path %>
