<div class="container">
    <% @objectives.each do |objective| %>
    <div class="row">

      <div class="col-border m-r-100">
        <div class="card">
          <div class="card-body">
            <h5 class="card-header"><strong>Objetivo Estratégico <%= objective.sphere.name %></strong></h5>

            <div class="padding-all">
              <h5 class="card-title"><%= objective.name %></h5>
              <hr/>
              <%= render partial: "goals/goal", :collection => objective.goals %>
            </div>
          </div>
          <div class="card-footer bg-transparent border-success"><%= objective.created_at.strftime("%d/%m/%Y") %></div>
        </div>
      </div>
      </div>

  <% end %>
  <div class="row">
    <%= link_to "Editar Objetivos Estratégicos", editobjectives_path, class: "btn btn-primary" %>
  </div>
</div>
