<div class="col-xs-12  p-t-10">
  <h3>Meus objetivos</h3>
  <% if !@objectives.nil? %>
    <% @objectives.each_with_index do |objective, i| %>
      <%= link_to editobjective_path(objective_id: objective.id) do %>
        <div class="offer offer-radius offer-info">
          <div class="shape">
            <div class="shape-text">
              <%= i + 1 %>
            </div>
          </div>
          <div class="offer-content">
            <h3 class="lead color-dark">
              <%= objective.name %><br/>
              <%= objective.created_at.strftime("%d/%m/%Y") %>
            </h3>
            <p>
              <%= render partial: "goals/goal", :collection => objective.goals %>
            </p>
            <div class="align-right">
              <h3 class="label-objective"><%= objective.sphere.name %></h3>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
