<body id="top">

<!-- start preloader -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>
  </div>
</div>
<!-- end preloader -->

<!-- %= render "headertemplate" % -->

<%= render "navbarlanding" %>

<!-- start home -->
<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h1 class="wow fadeIn color-white" data-wow-offset="50" data-wow-delay="0.9s"><span>Life to Remind</span></h1>
        <div class="element">
          <div class="sub-element">Life To Remind</div>
          <div class="sub-element">Planeje sua vida</div>
          <div class="sub-element">Alcance objetivos</div>
        </div>
        <!-- a data-scroll href="#about" class="btn btn-default wow fadeInUp" data-wow-offset="50" data-wow-delay="0.6s">COMEÇAR</a -->
        <%= link_to "COMEÇAR", plans_path, class: "btn btn-default wow fadeInUp", method: "get" %>
      </div>
    </div>
  </div>
</section>
<!-- end home -->

<!-- start about -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">O que é o <span>Life To Remind</span></h2>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="media">
          <div class="media-heading-wrapper">
            <div class="media-object pull-left">
              <i class="fa fa-mobile"></i>
            </div>
            <h3 class="media-heading">LIFE TO REMIND</h3>
          </div>
          <div class="media-body">
            <p>Sua vida é muito importante. Faça o planejamento dela no Life to Remind, acompanhe seus objetivos de vida
              pessoais, financeiros e profissionais ou outro âmbito de sua escolha.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
        <div class="media">
          <div class="media-heading-wrapper">
            <div class="media-object pull-left">
              <i class="fa fa-comment-o"></i>
            </div>
            <h3 class="media-heading">UM PLANO INDIVIDUAL</h3>
          </div>
          <div class="media-body">
            <p>Conheça mais a si mesmo. Entenda melhor quem é você, no que é bom, forças, fraquezas, oportunidades e
              ameaças ao seu redor. Além disso, descobra seu propósito de vida, missão, valores dentre outras
              características individuais.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="media">
          <div class="media-heading-wrapper">
            <div class="media-object pull-left">
              <i class="fa fa-html5"></i>
            </div>
            <h3 class="media-heading">REDIRECIONE SEU CAMINHO</h3>
          </div>
          <div class="media-body">
            <p>O Life to Remind te ajuda conhecer e seguir seu caminho. Objetivos também podem mudar no decorrer da
              vida, por que não acompanha-los?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end about -->

<!-- % render "team" % -->

<!-- start service -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Funcionalidades do <span>LTR</span></h2>
      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <i class="fa fa-laptop"></i>
        <h4>Diferentes planos</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
        <i class="fa fa-cloud"></i>
        <h4>Matriz SWOT</h4>

      </div>
      <div class="col-md-4 active wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <i class="fa fa-cog"></i>
        <h4>Objetivos Estratégicos</h4>
        
      </div>
    </div>
  </div>
</section>
<!-- end servie -->

<!-- start portfolio -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">MEUS <span>PLANOS</span></h2>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("portfolio-img1.jpg", alt: "portfolio img 1", class: "img-responsive") %>
          <div class="portfolio-overlay">
            <h4>Plano Um</h4>
            <a href="#" class="btn btn-default">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("portfolio-img2.jpg", alt: "portfolio img 2", class: "img-responsive") %>
          <div class="portfolio-overlay">
            <h4>Plano Dois</h4>
            <a href="#" class="btn btn-default">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("portfolio-img3.jpg", alt: "portfolio img 3", class: "img-responsive") %>
          <div class="portfolio-overlay">
            <h4>Plano Três</h4>
            <a href="#" class="btn btn-default">Detalhes</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
        <div class="portfolio-thumb">
          <%= image_tag("portfolio-img1.jpg", alt: "portfolio img 1", class: "img-responsive") %>
          <div class="portfolio-overlay">
            <h4>Plano Quatro</h4>
            <a href="#" class="btn btn-default">Detalhes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end portfolio -->

<!-- start contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">ENTRE EM <span>CONTATO</span></h2>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
        <form action="#" method="post">
          <label>NAME</label>
          <input name="fullname" type="text" class="form-control" id="fullname">

          <label>EMAIL</label>
          <input name="email" type="email" class="form-control" id="email">

          <label>MESSAGE</label>
          <textarea name="message" rows="4" class="form-control" id="message"></textarea>

          <input type="submit" class="form-control">
        </form>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
        <address>
          <p class="color-white"><i class="fa fa-envelope-o"></i> @gmail.com</p>
        </address>
      <!--
        <ul class="social-icon">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-instagram"></a></li>
        </ul>
      -->
      </div>
    </div>
  </div>
</section>
<!-- end contact -->

<!-- start copyright -->
<footer id="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
          Copyright &copy; 2019 Life to Remind</p>
      </div>
    </div>
  </div>
</footer>
<!-- end copyright -->

</body>