<div class="limiter">
  <!-- Blue backgroud-->
  <div class="container-login100">
    <!-- Makes square from everything inside -->
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
      <!-- Form to validate fields from template
      form class="login100-form validate-form" -->
      <span class="login100-form-title p-b-55">
						Entrar
					</span>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>

        <%= form.label "Email", class:"label-input" %>
        <div class="wrap-input100 validate-input m-b-8" data-validate="Valid email is required: ex@abc.xyz">
          <%= form.email_field :email, placeholder: "Email", autofocus: true, class: "input100" %>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
        </div>

        <%= form.label "Senha", class:"label-input" %>
        <div class="wrap-input100 validate-input m-b-8" data-validate="Password is required">
          <%= form.password_field :password, placeholder: "Senha", autocomplete: "off", class: "input100" %>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
        </div>
        <!--
        <div class="contact100-form-checkbox m-l-4">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            Remember me
          </label>
        </div>
        -->
        <div class="container-login100-form-btn p-t-25">
          <%= form.submit "Entrar", class: "login100-form-btn" %>
        </div>

      <% end %>

      <!--
      <div class="text-center w-full p-t-42 p-b-22">
          <span class="txt1">
            Or login with
          </span>
      </div>
      <a href="#" class="btn-face m-b-10">
        <i class="fa fa-facebook-official"></i>
        Facebook
      </a>
      <a href="#" class="btn-google m-b-10">
        <img src="/assets/icon-google.png" alt="GOOGLE">
        Google
      </a>
      -->
      <div class="text-center w-full p-t-115">
				<%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>


