<% @role.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_for @role do |form| %>
  <div class="search-group-paper m-t-20">
    <%= form.text_field :name, placeholder:"Papel chave", class: "search-field-paper-name" %>
    <%= form.text_area :description, placeholder:"Como me vejo no futuro nesse papel", class: "search-field-paper-description" %>
    <%= button_tag class: "icon-paper" do %>
      <i class="lnr lnr-arrow-right"></i>
    <% end %>
  </div>
<% end %>
