<% @sphere.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_with(model: sphere, local: true) do |form| %>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Nome do âmbito" %>
        <%= form.text_field :name, autocomplete: "off",  class: "form-control" %>
      </div>
    </div>
  </div>

  <%= form.submit "Criar", class: "btn btn-primary" %>
<% end %>
