<div class="row">
  <div class="col-border">
    <div class="card">
      <div class="card-body">
        <div class="padding-all">
          <div class="goal-description">
            <div class="goal-activities">
              <h4 class="card-title">Nome da meta: <%= cardgoal.name %>
                <%= link_to " ", edit_goal_path(cardgoal, :objective_id => cardgoal.objective), class: "lnr lnr-pencil btn btn-default" %>
                <%= link_to " ", cardgoal, method: :delete, data: {confirm: 'Tem certeza que quer remover essa meta?'}, class: "lnr lnr-circle-minus btn btn-danger" %>
              </h4>
              <span class="card-divider"></span>
              <br/>
              <h5 class="card-title">
                Atividades
                <%= link_to " ", new_activity_path(goal_id: cardgoal.id), class: "lnr lnr-plus-circle btn btn-primary" %>
                <%= link_to " ", activities_path(goal_id: cardgoal.id), class: "lnr lnr-list btn btn-success" %>
              </h5>
              <% cardgoal.activities.each do |activity| %>
                <% if !activity.checked %>
                  <p><strong><%= activity.title %></strong></p>
                <% else %>
                  <p><span class="lnr lnr-checkmark-circle"></span><%= activity.title %></p>
                <% end %>
              <% end %>
            </div>
            <div class="goal-progress">
              <h5 class="card-title"><%= cardgoal.name %> </h5>
              <% goal_data = [["", cardgoal.progress]] %>
              <%= bar_chart goal_data, suffix: "%", label: "Porcentagem concluída", min: 0, max: 100, height: "70px", width: "100%" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>