<% @goal.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_with(model: goal, local: true) do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Nome da meta" %>
        <%= form.text_field :name, autocomplete: "off",  class: "form-control", id: "field-goal-name" %>
      </div>
    </div>
  </div>

  <%= form.hidden_field :objective_id, value: @objective_id %>

  <%= form.submit "Salvar", class: "btn btn-primary" %>

<% end %>
