<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @goal.progress %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @goal.objective %>
</p>

<%= link_to 'Back', goals_path %>
