<% @mission.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_for @mission do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Qual o meu propósito de vida?" %>
        <%= form.text_field :purpose_of_life, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Quem sou eu?" %>
        <%= form.text_area :who_am_i, class:"form-control", rows: 4 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Por que existo?" %>
        <%= form.text_field :why_exist, class:"form-control" %>
      </div>
    </div>
  </div>

  <%= hidden_field_tag "plan_id", "1"  %>

  <%= form.submit texto_da_acao, class:"btn btn-primary" %>
<% end %>
