<% @mission.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_for @mission do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Quem sou eu?" %>
        <%= form.text_area :who_am_i, autocomplete: "off", class: "form-control resize-none", rows: 4 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Por que eu existo?" %>
        <%= form.text_field :why_exist, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Qual o meu propósito de vida?" %>
        <%= form.text_field :purpose_of_life, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
  </div>

  <%= form.submit texto_da_acao, class: "btn btn-primary" %>

  <br/>
  <br/>
<% end %>
  <div class="justify-buttons">
    <%= link_to " Voltar para Análise Ambiental", plans_swotedit_path, class: "btn btn-default lnr lnr-arrow-left" %>
    <%= button_tag " Continuar para Visão", type: 'button', onclick: "checkMissionAttributes()", name: "mission_to_vision", id: "mission_to_vision", class: 'btn btn-primary lnr lnr-arrow-right align-right', remote: true %>
  </div>
