<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h3 class="card-header">
        Missão de <%=current_user.name %>
        <p><%= mission.created_at.strftime("%d/%m/%Y") %></p>
      </h3>
      <div class="padding-side">
        <h5 class="card-title">Quem eu sou</h5>
        <p class="card-text"><%= mission.who_am_i %></p>
        <h5 class="card-title">Porque existo</h5>
        <p class="card-text"><%= mission.why_exist %></p>
        <h5 class="card-title">Propósito de Vida</h5>
        <p class="card-text"><%= mission.purpose_of_life %></p>
      </div>
    </div>
    <div class="card-footer bg-transparent border-success">
      <%= link_to "Selecionar",
                  missions_update_selected_mission_path(mission_id: mission.id), method: :put,
                  class:"btn-outline btn-outline-primary" %>
      <%= link_to "Editar",
                  edit_mission_path(mission),
                  class:"btn-outline btn-outline-default" %>
      <%= link_to "Remover", mission,
                  method: :delete,
                  class:"btn-outline btn-outline-danger",
                  data: {confirm: "Tem certeza que deseja remover essa missão? #{mission.purpose_of_life}" } %>
    </div>
  </div>
</div>
