<div class="container">
  <div class="wrap-collabsible p-t-60 p-b-20">
    <input id="collapsible" class="toggle" type="checkbox" style="display: none" checked>
    <label for="collapsible" class="lbl-toggle">MISSÃO</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <div class="content-text p-b-10">
          Uma missão define com mais profundidade características pessoais.
          Elaborar uma missão ajuda em dar um caminho para a vida, por isso pode ser uma tarefa difícil.
          <br/>
          <br/>
          Exemplo de missão de Rogério, casado, e pai de duas crianças:
          <br/>
          <strong>Quem sou eu? </strong>
          Eu sou uma pessoa amigável, tranquila, trabalho e tento dar o meu melhor para cuidar dos meus filhos.
          <br/>
          <strong>Por que existo? </strong>
          Eu existo pois acredito que Deus tenha um objetivo para cada um de nós na terra.
          <br/>
          <strong>Qual o meu propósito de vida? </strong> Meu propósito de vida é ajudar os outros.
        </div>
      </div>
    </div>
  </div>
  <% if @my_mission %>
    <%= link_to missions_path do %>
      <div class="col-xs-5  p-t-10">
        <div class="offer offer-radius offer-warning">
          <div class="shape">
            <div class="shape-text">
            </div>
          </div>
          <div class="offer-content">
            <h3 class="color-dark">Minha Missão </h3>
            <hr/>
            <h3 class="lead color-dark m-b-5">Propósito de Vida</h3>
            <p><%= "#{@my_mission.purpose_of_life}" %></p>
            <h3 class="lead color-dark m-b-5">Quem sou eu</h3>
            <p><%= "#{@my_mission.who_am_i}" %></p>
            <h3 class="lead color-dark m-b-5">Porque existo</h3>
            <p><%= "#{@my_mission.why_exist}" %></p>
            <p>
              Criado em: <%= @my_mission.created_at.strftime("%d/%m/%Y") %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="col-xs-5  p-t-10">
      <div class="offer-without-hover offer-radius offer-warning">
        <div class="shape">
          <div class="shape-text">
          </div>
        </div>
        <div class="offer-content">
          <h3 class="color-dark">Minha Missão </h3>
          <hr/>
          <h3 class="lead color-dark m-b-5">Propósito de Vida</h3>
          <p>-----------------</p>
          <h3 class="lead color-dark m-b-5">Quem sou eu</h3>
          <p>-----------------</p>
          <h3 class="lead color-dark m-b-5">Porque existo</h3>
          <p>-----------------</p>
          <p>
            Criado em: --/--/--
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: "form", locals: {texto_da_acao: "Criar"} %>
  <br/>
  <div class="justify-buttons">
    <%= link_to " Voltar para Análise Ambiental", plans_swotedit_path, class: "btn btn-default lnr lnr-arrow-left" %>
    <%= link_to " Continuar para Visão", new_vision_path, class: "btn btn-primary lnr lnr-arrow-right align-right" %>
  </div>
</div>