<% activity.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_with(model: activity, local: true) do |form| %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label "Título da atividade" %>
        <%= form.text_field :title, autocomplete: "off", class:"form-control" %>
      </div>
    </div>
  </div>

  <%= form.hidden_field :goal_id, value: @goal_id %>

  <%= form.submit "Criar", class: "btn btn-primary" %>
<% end %>
