<% activity.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger" role="alert">
    <%= msg %>
  </div>
<% end %>

<%= form_with(model: activity, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <%= form.hidden_field :goal_id, value: @goal_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
