<% if plan.errors.any? %>
  <% plan.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= form_with(model: plan, local: true) do |form| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label "Objetivo de Vida" %>
        <%= form.text_area :life_objective, class: "form-control" %>
      </div>
    </div>
  </div>

  <%= form.hidden_field :selected_mission, value: nil %>

  <%= form.hidden_field :selected_vision, value: nil %>

  <%= form.hidden_field :critical_success_factors_selected, value: nil %>

  <%= form.submit "Criar", class: "btn btn-primary" %>
<% end %>
