<div class="container">
  <div class="row">
    <% @plans.each do |plan| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-header">Plano <%= plan.id %></h5>
            <div class="padding-all">
              <p class="card-text"><%= plan.name.truncate(30) %></p>
              <%= link_to "Selecionar",
                          plans_update_selected_plan_path(plan.id),
                          class: "btn btn-primary" %>
              <%= link_to "Editar",
                          edit_plan_path(plan),
                          class: "btn btn-default" %>
              <%= link_to "Remover",
                          plan,
                          method: :delete,
                          class: "btn btn-danger",
                          data: {confirm: "Tem certeza que deseja remover o plano #{plan.id}?"} %>
            </div>
          </div>
          <div class="card-footer bg-transparent border-success"><%= plan.created_at.strftime("%d/%m/%Y") %></div>
        </div>
      </div>
    <% end %>
  </div>
  <br>

  <%= link_to "Novo plano", new_plan_path, class: "btn btn-primary" %>
</div>

