<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-info" role="alert">
    <%= flash[:info] %>
  </div>
<% end %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Objetivo de vida</td>
      <td>Missão selecionada</td>
      <td>Visão selecionada</td>
      <td>Fator Crítico de Sucesso selecionado</td>
      <td>Data</td>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.life_objective %></td>
        <td><%= plan.selected_mission %></td>
        <td><%= plan.selected_vision %></td>
        <td><%= plan.critical_success_factors_selected %></td>
        <td><%= plan.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to "Editar", edit_plan_path(plan), class:"btn btn-default"  %></td>
        <td><%= link_to "Remover", plan, method: :delete, class:"btn btn-danger", data: { confirm: "Tem certeza que deseja remover o plano #{plan.id}?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Novo plano", new_plan_path, class: "btn btn-primary" %>
