<div class="row p-t-50">
  <div class="col-md-12">
    <h2 class="wow" data-wow-offset="50" data-wow-delay="0.3s"><span>Status do meu planejamento</span></h2>
  </div>
</div>

<section id="sphere-status">
  <div class="container p-b-50">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Progresso dos
          <span>Âmbitos</span></h2>
      </div>
      <!-- TODO Complexity -->
      <% @spheres.each do |sphere| %>
        <% if sphere.progress != nil %>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
            <div class="media">
              <div class="media-heading-wrapper">
                <h3 class="media-heading"><%= sphere.name %></h3>
              </div>
              <div class="media-body">
                <%= sphere.name %>
                <% bar_color = select_color(sphere.progress) %>
                <%= bar_chart [["", sphere.progress]], suffix: "%", label: "Porcentagem concluída", colors: bar_color, min: 0, max: 100, height: "100px" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<section id="progress">
  <div class="container p-b-50">
    <div class="row">
      <div class="col-xs-12 wow fadeInDown" data-wow-offset="50" data-wow-delay="0.9s">

        <div class="col-md-12">
          <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">Progresso dos
            <span>Objetivos Estratégicos </span></h2>
        </div>
        <!-- TODO Complexity -->
        <table>
          <tbody>
          <% @spheres.each do |sphere| %>
            <% sphere.objectives.where(plan_id: @current_plan.id).each do |objective| %>
              <% if !objective.goals.blank? %>
                <% objective.goals.each_with_index do |go, i| %>
                  <tr>
                    <th scope="row"></th>
                    <td>
                      <%= go.name %>
                      <% bar_color = select_color(go.progress) %>
                      <%= bar_chart [["", go.progress]], suffix: "%", label: "Porcentagem concluída", colors: bar_color, min: 0, max: 100, height: "80px", width: "500px" %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section id="status-swot" class="p-b-100">
  <div class="row">
    <div class="col-xs-12 wow fadeInDown" data-wow-offset="50" data-wow-delay="0.9s">
      <div class="media p-b-20">
        <div class="media-heading-wrapper">
          <h3 class="media-heading">
            <div class="text-center color-ltr">
              <span>Análise Ambiental</span><br/>Distribuição de características
            </div>
          </h3>
        </div>
      </div>
      <% swot_data = [
          ["Forças", @strengths.count],
          ["Fraquezas", @weaks.count],
          ["Oportunidades", @opportunities.count],
          ["Ameaças", @threats.count]
      ] %>
      <%= pie_chart swot_data, donut: true %>
    </div>
  </div>
</section>