<div class="container">
  <% if current_user.selected_plan %>

    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-header">
            <strong>Planejamento Estratégico Pessoal de <%= current_user.name %></strong><br/><br/>
            Data: <%= @current_plan.created_at.strftime("%d/%m/%Y") %> <br/><br/>
            Nome do Plano: <%= "#{@current_plan.life_objective}" %>
          </h5>
          <div class="padding-all">
            <h3>Matriz SWOT <%= link_to "", plans_swotedit_path, method: "get", class: "btn btn-primary lnr lnr-pencil" %></h3>
            <p class="card-text"><%= render template: "plans/swot" %></p>
            <hr/>

            <h3>Minha Missão <%= link_to "", missions_path, method: "get", class: "btn btn-primary lnr lnr-pencil" %></h3>
            <div class="padding-all">
              <h5><strong>Propósito de Vida</strong></h5>
              <%= "#{@my_mission.purpose_of_life}" %>
              <h5><strong>Quem sou eu</strong></h5>
              <%= "#{@my_mission.who_am_i}" %>
              <h5><strong>Porque existo</strong></h5>
              <%= "#{@my_mission.why_exist}" %>
            </div>

            <hr/>

            <h3>Objetivos Estratégicos <%= link_to "", editobjectives_path, class: "btn btn-primary lnr lnr-pencil" %></h3>
            <%= render template: "objectives/index" %>

            <hr/>

          </div>
        </div>
      </div>
    </div>

    <%= link_to "Alterar Plano", plans_path, method: "get", class: "btn btn-primary" %>

  <% else %>
    <p>Parece que você ainda não criou um planejamento.</p>
    <%= link_to "Crie um novo plano", new_plan_path, method: "get", class: "btn btn-primary" %>
  <% end %>
</div>