<div class="container">
  <% if current_user.selected_plan %>

    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-header">
            <strong>Planejamento Estratégico Pessoal de <%= current_user.name %></strong><br/><br/>
            Data: <%= @current_plan.created_at.strftime("%d/%m/%Y") %> <br/><br/>
            Nome do Plano: <%= "#{@current_plan.name}" %>
          </h5>
          <div class="padding-all">
            <h3>Matriz
              SWOT <%= link_to "", plans_swotedit_path, method: "get", class: "btn btn-success lnr lnr-pencil" %></h3>
            <p class="card-text"><%= render template: "plans/swot" %></p>
            <hr/>

            <h3>Minha
              Missão <%= link_to "", missions_path, method: "get", class: "btn btn-success lnr lnr-pencil" %></h3>
            <div class="padding-all">
              <% if @current_plan.selected_mission %>
                <div class="row">
                  <div class="col-xs-4  p-t-10">
                    <div class="offer offer-radius offer-warning">
                      <div class="shape">
                        <div class="shape-text">
                        </div>
                      </div>
                      <div class="offer-content">
                        <h3 class="lead color-dark m-b-5">Propósito de Vida</h3>
                        <p><%= "#{@my_mission.purpose_of_life}" %></p>
                        <h3 class="lead color-dark m-b-5">Quem sou eu</h3>
                        <p><%= "#{@my_mission.who_am_i}" %></p>
                        <h3 class="lead color-dark m-b-5">Porque existo</h3>
                        <p><%= "#{@my_mission.why_exist}" %></p>
                        <p>
                          Criado em: <%= @my_mission.created_at.strftime("%d/%m/%Y") %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              <% else %>
                <h5>
                  Parece que você ainda não criou uma missão
                  <%= link_to " Criar", new_mission_path, class: "btn btn-primary lnr lnr-plus-circle" %></h3>
                </h5>
              <% end %>
            </div>
            <hr/>

            <h3>Âmbitos <%= link_to "", spheres_path, class: "btn btn-success lnr lnr-pencil" %></h3>

            <% if !current_user.spheres.nil? %>
              <div class="row">
                <%= render partial: "spheres/spheres", collection: @spheres %>
              </div>
            <% else %>
              Crie um âmbito de vida para seus objetivos
              <%= link_to " Criar", new_sphere_path, class: "btn btn-primary lnr lnr-plus-circle" %></h3>
            <% end %>

            <hr/>

            <h3>Objetivos
              Estratégicos <%= link_to "", editobjectives_path, class: "btn btn-success lnr lnr-pencil" %></h3>

            <% if !@current_plan.objectives.nil? %>
              <%= render template: "objectives/index" %>
            <% else %>
              Crie seu primeiro Objetivo Estratégico Pessoal
              <%= link_to " Criar", new_objective_path, class: "btn btn-primary lnr lnr-plus-circle" %></h3>
            <% end %>
            <hr/>

          </div>
        </div>
      </div>
    </div>

    <%= link_to "Alterar Plano", plans_path, method: "get", class: "btn btn-primary" %>

  <% else %>
    <p>Parece que você ainda não criou um planejamento.</p>
    <%= link_to "Crie um novo plano", new_plan_path, method: "get", class: "btn btn-primary" %>
  <% end %>
</div>