<div class="container">
  <% if current_user.selected_plan %>
    <%= link_to "Alterar Plano", plans_path, method: "get", class: "btn btn-success" %>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="card-header">
            <strong>Planejamento Estratégico Pessoal de <%= current_user.name %></strong><br/><br/>
            Data: <%= @current_plan.created_at.strftime("%d/%m/%Y") %> <br/><br/>
            Nome do Plano: <%= "#{@current_plan.name}" %>
          </h5>
          <div class="padding-all">
            <h3>Matriz
              SWOT <%= link_to "", plans_swotedit_path, method: "get", class: "btn btn-success lnr lnr-pencil" %></h3>
            <p class="card-text"><%= render template: "plans/swot" %></p>
            <hr/>

            <div class="row">
              <div class="padding-all">

                <% if @my_mission %>
                  <%= link_to missions_path do %>
                    <div class="col-xs-4  p-t-10">
                      <div class="offer offer-radius offer-warning">
                        <div class="shape">
                          <div class="shape-text">
                          </div>
                        </div>
                        <div class="offer-content">
                          <h3 class="color-dark">Minha Missão </h3>
                          <hr/>
                          <h3 class="lead color-dark m-b-5">Propósito de Vida</h3>
                          <p><%= "#{@my_mission.purpose_of_life}" %></p>
                          <h3 class="lead color-dark m-b-5">Quem sou eu</h3>
                          <p><%= "#{@my_mission.who_am_i}" %></p>
                          <h3 class="lead color-dark m-b-5">Porque existo</h3>
                          <p><%= "#{@my_mission.why_exist}" %></p>
                          <p>
                            Criado em: <%= @my_mission.created_at.strftime("%d/%m/%Y") %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to missions_path do %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-10">
                      <div class="dashed dashed-border">
                        <div class="dashed-content ">
                          <h3 class="lead box-gray-dashed">
                            <span class="lnr lnr-file-empty"> Selecionar Missão</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>

                <% if @my_vision %>
                  <%= link_to visions_path do %>
                    <div class="col-xs-7  p-t-10">
                      <div class="offer offer-radius offer-danger">
                        <div class="shape">
                          <div class="shape-text">
                          </div>
                        </div>
                        <div class="offer-content">
                          <h3 class="color-dark">Minha Visão </h3>
                          <hr/>
                          <h3 class="lead color-dark m-b-5">Para onde vou?</h3>
                          <p><%= "#{@my_vision.where_im_going}" %></p>
                          <h3 class="lead color-dark m-b-5">Onde quero chegar?</h3>
                          <p><%= "#{@my_vision.where_arrive}" %></p>
                          <h3 class="lead color-dark m-b-5">Como tornarei concreta a minha missão?</h3>
                          <p><%= "#{@my_vision.how_complete_mission}" %></p>
                          <p>
                            Criado em: <%= @my_vision.created_at.strftime("%d/%m/%Y") %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to visions_path do %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-10">
                      <div class="dashed dashed-border">
                        <div class="dashed-content ">
                          <h3 class="lead box-gray-dashed">
                            <span class="lnr lnr-file-empty"> Selecionar visão</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>

              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="padding-all">
                <h3>Meus valores</h3>
                <%= render partial: "values/values", collection: @current_plan.values %>
                <%= render partial: "values/form" %>
              </div>
            </div>
            <hr/>

            <h3>Âmbitos</h3>
            <% if !current_user.spheres.nil? %>
              <div class="row">
                <%= render partial: "spheres/spheres", collection: @spheres %>
                <%= link_to spheres_path do %>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-10">
                    <div class="dashed dashed-border">
                      <div class="dashed-content ">
                        <h3 class="lead box-gray-dashed">
                          <span class="lnr lnr-plus-circle"></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              Crie um âmbito de vida para seus objetivos
              <%= link_to " Criar", new_sphere_path, class: "btn btn-primary lnr lnr-plus-circle" %></h3>
            <% end %>
            <hr/>

            <h3>Objetivos Estratégicos</h3>
            <% if !@current_plan.objectives.nil? %>
              <div class="row">
                <%= render template: "objectives/index" %>
              </div>

              <div class="row">
                <%= link_to editobjectives_path do %>
                  <div class="col-xs-8 p-t-10">
                    <div class="dashed dashed-border">
                      <div class="dashed-content ">
                        <h3 class="lead box-gray-dashed">
                          <span class="lnr lnr-plus-circle"></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              Crie seu primeiro Objetivo Estratégico Pessoal
              <%= link_to " Criar", new_objective_path, class: "btn btn-primary lnr lnr-plus-circle" %></h3>
            <% end %>
            <hr/>

          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p>Parece que você ainda não criou um planejamento.</p>
    <%= link_to "Crie um novo plano", new_plan_path, method: "get", class: "btn btn-primary" %>
  <% end %>
</div>