<div class="container p-t-40">
  <% if current_user.selected_plan %>
    <div class="p-b-10" align="right">
      <%= link_to " Gerar PDF", plans_pdf_path(id: @current_plan, format: :pdf), data: { disable_with: " Arquivo sendo gerado..." }, class: "btn btn-success lnr lnr-file-add" %>
      <%= link_to " Gerenciar Planos", plans_path, method: "get", class: "btn btn-primary lnr lnr-cog" %>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h5 class="p-b-20 text-align-center">
            <div class="col-md-12 p-t-20 p-b-20">
              <h3 class="color-ltr-myplan"><span>Planejamento Estratégico Pessoal de <%= current_user.name %></span></h3>
            </div>
            Data: <%= @current_plan.created_at.strftime("%d/%m/%Y") %> <br/><br/>
            Nome do Plano: <%= "#{@current_plan.name}" %>
          </h5>
          <div class="padding-all">
            <h3>Matriz SWOT <%= link_to "", plans_swotedit_path, method: "get", class: "btn btn-success lnr lnr-pencil align-right" %></h3>
            <br/>
            <p class="card-text"><%= render template: "plans/swot" %></p>
            <hr/>

            <div class="row">
              <div class="padding-all">
                <% if @my_mission %>
                  <%= link_to missions_path do %>
                    <div class="col-xs-4  p-t-10">
                      <div class="offer offer-radius offer-warning">
                        <div class="shape">
                          <div class="shape-text">
                          </div>
                        </div>
                        <div class="offer-content">
                          <h3 class="color-dark">Minha Missão </h3>
                          <hr/>
                          <h3 class="lead color-dark m-b-5">Propósito de Vida</h3>
                          <p><%= "#{@my_mission.purpose_of_life}" %></p>
                          <h3 class="lead color-dark m-b-5">Quem sou eu</h3>
                          <p><%= "#{@my_mission.who_am_i}" %></p>
                          <h3 class="lead color-dark m-b-5">Porque existo</h3>
                          <p><%= "#{@my_mission.why_exist}" %></p>
                          <p>
                            Criado em: <%= @my_mission.created_at.strftime("%d/%m/%Y") %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to new_mission_path do %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-10">
                      <div class="dashed dashed-border">
                        <div class="dashed-content ">
                          <h3 class="lead box-gray-dashed">
                            <span class="lnr lnr-cog"> Missão</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>

                <% if @my_vision %>
                  <%= link_to visions_path do %>
                    <div class="col-xs-7  p-t-10">
                      <div class="offer offer-radius offer-danger">
                        <div class="shape">
                          <div class="shape-text">
                          </div>
                        </div>
                        <div class="offer-content">
                          <h3 class="color-dark">Minha Visão </h3>
                          <hr/>
                          <h3 class="lead color-dark m-b-5">Para onde vou?</h3>
                          <p><%= "#{@my_vision.where_im_going}" %></p>
                          <h3 class="lead color-dark m-b-5">Onde quero chegar?</h3>
                          <p><%= "#{@my_vision.where_arrive}" %></p>
                          <h3 class="lead color-dark m-b-5">Como tornarei concreta a minha missão?</h3>
                          <p><%= "#{@my_vision.how_complete_mission}" %></p>
                          <p>
                            Criado em: <%= @my_vision.created_at.strftime("%d/%m/%Y") %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to new_vision_path do %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-10">
                      <div class="dashed dashed-border">
                        <div class="dashed-content ">
                          <h3 class="lead box-gray-dashed">
                            <span class="lnr lnr-cog"> Visão</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>

              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="padding-all">
                <% if @my_csf %>
                  <%= link_to csfs_path do %>
                    <div class="col-xs-12 p-t-10">
                      <div class="offer offer-radius offer-default">
                        <div class="shape">
                          <div class="shape-text">
                          </div>
                        </div>
                        <div class="offer-content">
                          <h3 class="color-dark">Meus Fatores Críticos de Sucesso </h3>
                          <hr/>
                          <h3 class="lead color-dark m-b-5">Que características me tornam único?</h3>
                          <p><%= "#{@my_csf.what_makes_me_unique}" %></p>
                          <h3 class="lead color-dark m-b-5">Quais minhas melhores competências?</h3>
                          <p><%= "#{@my_csf.best_attributes}" %></p>
                          <h3 class="lead color-dark m-b-5">Quais delas são essenciais para meus objetivos?</h3>
                          <p><%= "#{@my_csf.essential_atributes}" %></p>
                          <h3 class="lead color-dark m-b-5">Quais fatores impactam no meu bem estar?</h3>
                          <p><%= "#{@my_csf.health_factors}" %></p>
                          <p>
                            Criado em: <%= @my_csf.created_at.strftime("%d/%m/%Y") %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <%= link_to new_csf_path do %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-10">
                      <div class="dashed dashed-border">
                        <div class="dashed-content ">
                          <h3 class="lead box-gray-dashed">
                            <span class="lnr lnr-cog"> Fator Crítico de Sucesso</span>
                          </h3>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="padding-all">
                <h3>Meus Valores</h3>

                <div class="row">
                <%= render partial: "values/values", collection: @current_plan.values %>
                </div>
                <div class="row p-l-20">
                <%= render partial: "values/form" %>
                </div>
              </div>
            </div>
            <hr/>

            <div class="row">
              <div class="padding-all">
                <h3>Meus Papéis</h3>
                <div class="row p-t-20">
                  <table>
                    <tbody>
                    <td width="100px" class="p-l-30">Papel chave</td>
                    <td width="300px" class="p-l-60">Como me vejo no futuro</td>
                    </tbody>
                  </table>
                  <%= render partial: "roles/roles", collection: @current_plan.roles %>
                </div>
                <div class="row">
                  <%= render partial: "roles/form" %>
                </div>
              </div>
            </div>
            <hr/>

            <h3>Âmbitos</h3>
            <% if !current_user.spheres.nil? %>
              <div class="row">
                <%= render partial: "spheres/spheres", collection: @spheres %>
                <%= link_to new_sphere_path do %>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-t-10">
                    <div class="dashed dashed-border">
                      <div class="dashed-content ">
                        <h3 class="lead box-gray-dashed">
                          <span class="lnr lnr-plus-circle"></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              Crie um âmbito de vida para seus objetivos
              <%= link_to " Criar", new_sphere_path, class: "btn btn-primary lnr lnr-plus-circle" %></h3>
            <% end %>
            <hr/>

            <h3>Objetivos Estratégicos</h3>
            <% if !@current_plan.objectives.nil? %>
              <div class="row">
                <%= render template: "objectives/index" %>
              </div>

              <div class="row">
                <%= link_to new_objective_path do %>
                  <div class="col-xs-12 p-t-10">
                    <div class="dashed dashed-border">
                      <div class="dashed-content ">
                        <h3 class="lead box-gray-dashed">
                          <span class="lnr lnr-plus-circle"></span>
                        </h3>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              Crie seu primeiro Objetivo Estratégico Pessoal
              <%= link_to " Criar", new_objective_path, class: "btn btn-primary lnr lnr-plus-circle" %></h3>
            <% end %>
            <hr/>

          </div>
        </div>
      </div>
    </div>
  <% else %>
    <p>Parece que você ainda não criou um planejamento.</p>
    <%= link_to "Crie um novo plano", new_plan_path, method: "get", class: "btn btn-primary" %>
  <% end %>
</div>