<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <style type="text/css">
    *{
      margin: 0;
      padding: 0;
      outline: 0;
      box-sizing: border-box;
    }

    html, body, #root {
      height: 100%;
      line-height: 30px;
    }

    body {
      background: #fff;
    }

    body, input, button {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    td {
      width: 42%;
      color: white;
      font-weight: bold;
      font-size: 1.3em;
    }

    th{
      color: black;
    }

    .f-bg{
      background: -webkit-linear-gradient(#49a09d, #567a9b);
    }
    .fr-bg{
      background: -webkit-linear-gradient(#ffa47c, #c77f67);
    }
    .o-bg{
      background: -webkit-linear-gradient(90deg, #9bd2b0, #6ea080);
    }
    .a-bg{
      background: -webkit-linear-gradient(90deg, #ffec76, #a5994c);
    }

    .ltrlogo {
      height: 80px;
      width: 80px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .offer-content{
      padding:10px 20px 10px;
      border: 1px solid;
      border-radius: 7px;
      border-color: #cacaca;
    }

    .desc {
      clear: both;
      color: gray;
    }

    hr {
      color: rgba(0, 0, 0, 0.6);
    }
  </style>
</head>
<body>
<div class="container">
  <% if current_user.selected_plan %>
    <%= wicked_pdf_image_tag("logoredim.png", alt:"logo img 1", class:"ltrlogo", align:"center") %>
    <h3>Planejamento Estratégico Pessoal de <%= current_user.name %></h3>
    <div class="p-t-20 p-b-20">
      <span class="card-divider"/>
    </div>

    <p>Nome do Plano: <%= "#{@current_plan.name}" %></p>
    <p>Criado em: <%= Time.now.strftime("%d/%m/%Y às %H:%M")%></p>
    <br/>
    <!-- Análise Ambiental -->
    <% if @strengths.first || @weaks.first || @opportunities.first || @threats.first  %>
      <div class="offer-content">
        <h3>Matriz SWOT</h3>
        <hr/>
        <table class="table table-borderless table-hover">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Fatores Positivos</th>
            <th scope="col">Fatores Negativos</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Fatores Internos</th>
            <td class="f-bg">
              <p align="center"><i>Forças</i></p>
              <% @strengths.each do |strength| %>
                <p align="center"><%= strength.name %></p>
              <% end %>
            </td>
            <td class="fr-bg">
              <p class="" align="center"><i>Fraquezas</i></p>
              <% @weaks.each do |weak| %>
                <p align="center"><%= weak.name %></p>
              <% end %>
            </td>
          </tr>
          <tr>
            <th scope="row">Fatores Externos</th>
            <td class="o-bg">
              <p align="center"><i>Oportunidades</i></p>
              <% @opportunities.each do |opportunity| %>
                <p align="center"><%= opportunity.name %></p>
              <% end %>
            </td>
            <td class="a-bg" width="250px">
              <p align="center"><i>Ameaças</i></p>
              <% @threats.each do |threat| %>
                <p align="center"><%= threat.name %></p>
              <% end %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <br/>
    <% end %>

    <!-- Mission -->
    <% if @my_mission %>
      <div class="offer-content">
        <h3>Minha Missão </h3>
        <hr/>
          <h3 class="lead m-b-5">Propósito de Vida</h3>
          <p><%= "#{@my_mission.purpose_of_life}" %></p>
          <h3 class="lead color-dark m-b-5">Quem sou eu</h3>
          <p><%= "#{@my_mission.who_am_i}" %></p>
          <h3 class="lead color-dark m-b-5">Porque existo</h3>
          <p><%= "#{@my_mission.why_exist}" %></p>
          <p>
            Criado em: <%= @my_mission.created_at.strftime("%d/%m/%Y") %>
          </p>
      </div>
      <br/>
    <% end %>

    <!-- Vision -->
    <% if @my_vision %>
      <div class="offer-content">
        <h3 class="color-dark">Minha Visão </h3>
        <hr/>
        <p>Criado em: <%= @my_vision.created_at.strftime("%d/%m/%Y") %></p>
        <h3 class="lead color-dark m-b-5">Para onde vou?</h3>
        <p><%= "#{@my_vision.where_im_going}" %></p>
        <h3 class="lead color-dark m-b-5">Onde quero chegar?</h3>
        <p><%= "#{@my_vision.where_arrive}" %></p>
        <h3 class="lead color-dark m-b-5">Como tornarei concreta a minha missão?</h3>
        <p><%= "#{@my_vision.how_complete_mission}" %></p>
      </div>
      <br/>
    <% end %>

    <!-- Fatores Críticos de Sucesso -->
    <% if @my_csf %>
      <div class="offer-content">
        <h3 class="color-dark">Meus Fatores Críticos de Sucesso </h3>
        <hr />
        <p>Criado em: <%= @my_csf.created_at.strftime("%d/%m/%Y") %></p>
        <h3 class="lead color-dark m-b-5">Que características me tornam único?</h3>
        <p><%= "#{@my_csf.what_makes_me_unique}" %></p>
        <h3 class="lead color-dark m-b-5">Quais minhas melhores competências?</h3>
        <p><%= "#{@my_csf.best_attributes}" %></p>
        <h3 class="lead color-dark m-b-5">Quais delas são essenciais para meus objetivos?</h3>
        <p><%= "#{@my_csf.essential_atributes}" %></p>
        <h3 class="lead color-dark m-b-5">Quais fatores impactam no meu bem estar?</h3>
        <p><%= "#{@my_csf.health_factors}" %></p>
      </div>
    <% end %>
    <br/>

    <!-- Valores -->
    <% if @values.first %>
      <div class="offer-content">
        <h3>Meus Valores</h3>
        <hr/>
          <% @values.each do |values| %>
            <p class="lead color-dark"><%= values.name %></p>
          <% end %>
      </div>
      <br/>
    <% end %>

    <!-- Papéis -->
    <% if @roles.first %>
      <div class="offer-content">
        <h3>Meus Papéis</h3>
        <hr/>
        <% @roles.each do |role| %>
          <p>
            Como <%= role.name %>, gostaria de no futuro <%= role.description %>
          </p>
        <% end %>
      </div>
      <br/>
    <% end %>

    <!-- Âmbitos -->
    <% if @spheres.first %>
      <div class="offer-content">
        <h3>Âmbitos </h3>
        <hr/>
        <% @spheres.each do |sphere| %>
          <p><%= sphere.name %>. <%= sphere.progress %> concluído.</p>
        <% end %>
      </div>
      <br/>
    <% end %>

    <!-- Objetivos Estratégicos -->
    <% if @objectives.first %>
      <div class="offer-content">
      <h3>Objetivos Estratégicos</h3>
      <hr/>
        <% @objectives.each_with_index do |objective, i| %>
          <h3 class="lead color-dark">Objetivo <%= i + 1 %>: <%= objective.name %></h3>
          <p>Âmbito: <%= objective.sphere.name %></p>
          <p>Data da criação: <%= objective.created_at.strftime("%d/%m/%Y") %></p>
          <div class="offer-content"> 
            <% objective.goals.each_with_index do |goal, j| %>
              <p>Meta <%= j + 1 %>: <%= goal.name %>. <%= goal.progress %>% concluído.</p>
              Atividades:<br/>
              <% goal.activities.each do |activity| %>
                <% if !activity.checked %>
                  <p> - <strong><%= activity.title %></strong></p>
                <% else %>
                  <p> - <%= activity.title %>. Feito!</p>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<h5 class="desc">Arquivo gerado do site de teste do projeto Life To Remind, mais informações em www.github.com/eduqg/LifeToRemind</h4>
</body>
</html>