<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
</head>
<body>
<div class="container">
  <% if current_user.selected_plan %>
    <h3>Planejamento Estratégico Pessoal de <%= current_user.name %></h3>
    <div class="p-t-20 p-b-20">
      <span class="card-divider"/>
    </div>

    <h4>Data: <%= @current_plan.created_at.strftime("%d/%m/%Y") %></h4>
    <h4>Nome do Plano: <%= "#{@current_plan.name}" %></h4>
    <div class="p-t-20 p-b-20">
      <span class="card-divider"/>
    </div>

    <!-- Análise Ambiental -->
    <h3>Matriz SWOT</h3>
    <p class="card-text"><%= render template: "plans/swot" %></p>

    <!-- Mission -->
    <% if @my_mission %>
      <h3 class="color-dark">Minha Missão </h3>
      <h3 class="lead color-dark m-b-5">Propósito de Vida</h3>
      <p><%= "#{@my_mission.purpose_of_life}" %></p>
      <h3 class="lead color-dark m-b-5">Quem sou eu</h3>
      <p><%= "#{@my_mission.who_am_i}" %></p>
      <h3 class="lead color-dark m-b-5">Porque existo</h3>
      <p><%= "#{@my_mission.why_exist}" %></p>
      <p>
        Criado em: <%= @my_mission.created_at.strftime("%d/%m/%Y") %>
    <% end %>

    <!-- Vision -->
    <% if @my_vision %>
      <h3 class="color-dark">Minha Visão </h3>
      <h3 class="lead color-dark m-b-5">Para onde vou?</h3>
      <p><%= "#{@my_vision.where_im_going}" %></p>
      <h3 class="lead color-dark m-b-5">Onde quero chegar?</h3>
      <p><%= "#{@my_vision.where_arrive}" %></p>
      <h3 class="lead color-dark m-b-5">Como tornarei concreta a minha missão?</h3>
      <p><%= "#{@my_vision.how_complete_mission}" %></p>
      <p>
        Criado em: <%= @my_vision.created_at.strftime("%d/%m/%Y") %>
      </p>
    <% end %>

    <!-- Fatores Críticos de Sucesso -->
    <% if @my_csf %>
      <h3 class="color-dark">Meus Fatores Críticos de Sucesso </h3>
      <h3 class="lead color-dark m-b-5">Que características me tornam único?</h3>
      <p><%= "#{@my_csf.what_makes_me_unique}" %></p>
      <h3 class="lead color-dark m-b-5">Quais minhas melhores competências?</h3>
      <p><%= "#{@my_csf.best_attributes}" %></p>
      <h3 class="lead color-dark m-b-5">Quais delas são essenciais para meus objetivos?</h3>
      <p><%= "#{@my_csf.essential_atributes}" %></p>
      <h3 class="lead color-dark m-b-5">Quais fatores impactam no meu bem estar?</h3>
      <p><%= "#{@my_csf.health_factors}" %></p>
      <p>
        Criado em: <%= @my_csf.created_at.strftime("%d/%m/%Y") %>
      </p>
    <% end %>
    <!-- Valores -->
    <h3>Meus Valores</h3>
    <% @current_plan.values.each do |values| %>
      <h3 class="lead color-dark"><%= values.name %></h3>
    <% end %>

    <!-- Papéis -->
    <h3>Meus Papéis</h3>
    <table>
      <h3 class="lead color-dark">
        <% @current_plan.roles.each do |role| %>
          <tbody>
          <td width="200px">Como <%= role.name %></td>
          <td width="400px"><%= role.description %></td>
          </tbody>
        <% end %>
      </h3>
    </table>

    <!-- Âmbitos -->
    <% if !current_user.spheres.nil? %>
      <h3>Âmbitos </h3>
      <% @spheres.each do |sphere| %>
        <h3 class="lead color-dark">
          <%= sphere.name %>
        </h3>
      <% end %>
    <% end %>

    <!-- Objetivos Estratégicos -->
    <h3>Objetivos Estratégicos</h3>
    <% if !@current_plan.objectives.nil? %>
      <% @current_plan.objectives.each_with_index do |objective, i| %>
        <h3 class="lead color-dark">Objetivo: <%= objective.name %></h3>
        <% objective.goals.each do |goal| %>
          <h4 class="card-title"><%= goal.name %> </h4>
          <h5 class="card-body"><%= goal.progress %>% concluído. </h5>
          Atividades:<br/>
          <% goal.activities.each do |activity| %>
            <% if !activity.checked %>
              <p><strong><%= activity.title %></strong></p>
            <% else %>
              <p><%= activity.title %></p>
            <% end %>
          <% end %>
        <% end %>
        Data da criação: <%= objective.created_at.strftime("%d/%m/%Y") %>
      <% end %>
    <% end %>
  <% end %>
</div>
</body>
</html>