<%= render partial: "inputswotpart", locals: { tipo_do_swotpart: "strength", texto_da_acao: "+Força", swot_type: "Força" } %>

<div class="container">
  <% @strengths.each do |strength| %>
    <div class="col-xs-2">
      <div class="row">
        <%= strength.name.truncate(15) %></p>
        <%= link_to "Editar", edit_swotpart_path(strength), :class => "btn btn-primary" %>
        <%= link_to "X", strength, method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: "inputswotpart", locals: { tipo_do_swotpart: "weak", texto_da_acao: "+Fraqueza", swot_type: "Fraqueza" } %>

<div class="container">
  <% @weaks.each do |weak| %>
    <div class="col-xs-2">
      <div class="row">
        <%= weak.name.truncate(15) %></p>
        <%= link_to "Editar", edit_swotpart_path(weak), :class => "btn btn-primary" %>
        <%= link_to "X", weak, method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: "inputswotpart", locals: { tipo_do_swotpart: "opportunity", texto_da_acao: "+Oportunidade", swot_type: "Oportunidade" } %>

<div class="container">
  <% @opportunities.each do |opportunity| %>
    <div class="col-xs-2">
      <div class="row">
        <%= opportunity.name.truncate(15) %></p>
        <%= link_to "Editar", edit_swotpart_path(opportunity), :class => "btn btn-primary" %>
        <%= link_to "X", opportunity, method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: "inputswotpart", locals: { tipo_do_swotpart: "threat", texto_da_acao: "+Ameaça", swot_type: "Ameaça" } %>

<div class="container">
  <% @threats.each do |threat| %>
    <div class="col-xs-2">
      <div class="row">
        <%= threat.name.truncate(15) %></p>
        <%= link_to "Editar", edit_swotpart_path(threat), :class => "btn btn-primary" %>
        <%= link_to "X", threat, method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>