<div class="container">
  <div class="wrap-collabsible p-t-60 p-b-20">
    <input id="collapsible" class="toggle" type="checkbox" style="display: none" checked>
    <label for="collapsible" class="lbl-toggle">Análise Ambiental</label>
    <div class="collapsible-content">
      <div class="content-inner">
        <div class="content-text p-b-10">
          O primeiro passo para ajudar na criação do seu planejamento estratégico pessoal é a sua
          analise ambiental. Também conhecida como matriz SWOT, ela ajuda a caracterizar aspectos internos e externos pessoais.
          <br/>
          <br/>
          A Matriz possui várias perspectivas. Aqui estão alguns exemplos que poderiam ser adicionados:
          <br/>
          <br/>
          Um <strong>Fator Interno</strong> e <strong>Positivo</strong> para um jogador de basquete poderia ser sua habilidade em fazer cestas, portanto uma <strong>Força</strong>.
          <br/>
          Um <strong>Fator Externo</strong> e <strong>Negativo</strong> para uma estudante poderia ser algum excesso de ruído enquanto estuda, portanto uma <strong>Ameaça</strong>.
          <br/>
        </div>
      </div>
    </div>
  </div>
  <h3 class="p-t-20 p-b-20">Análise Ambiental</h3>
  <table class="table table-borderless table-hover">
    <caption class="hidden">Análise Ambiental</caption>
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Fatores Positivos</th>
      <th scope="col">Fatores Negativos</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" width="12%">Fatores Internos</th>
      <td class="background-blue-light">
        <%= render partial: "inputswotpart", locals: {tipo_do_swotpart: "strength", texto_da_acao: "Força", swot_type: "Força"} %>
        <% @strengths.each do |strength| %>
          <div class="card-swot">
            <div class="p-b-15">
              <strong><%= strength.name %></strong>
              <span class="align-right">
              <%= link_to " ", edit_swotpart_path(strength), class: "btn btn-white lnr lnr-pencil" %>
                <%= link_to " ", strength, method: :delete, class: "btn btn-danger lnr lnr-circle-minus" %>
            </span>
            </div>
          </div>
        <% end %>
      </td>
      <td class="background-red-light">
        <%= render partial: "inputswotpart", locals: {tipo_do_swotpart: "weak", texto_da_acao: "Fraqueza", swot_type: "Fraqueza"} %>
        <% @weaks.each do |weak| %>
          <div class="card-swot">
            <div class="p-b-15">
              <strong><%= weak.name %></strong>
              <span class="align-right">
              <%= link_to " ", edit_swotpart_path(weak), class: "btn btn-white lnr lnr-pencil" %>
                <%= link_to " ", weak, method: :delete, class: "btn btn-danger lnr lnr-circle-minus" %>
               </span>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">Fatores Externos</th>
      <td class="background-green-light">
        <%= render partial: "inputswotpart", locals: {tipo_do_swotpart: "opportunity", texto_da_acao: "Oportunidade", swot_type: "Oportunidade"} %>
        <% @opportunities.each do |opportunity| %>
          <div class="card-swot">
            <div class="p-b-15">

              <strong><%= opportunity.name %></strong>
              <span class="align-right">
              <%= link_to " ", edit_swotpart_path(opportunity), class: "btn btn-white lnr lnr-pencil" %>
                <%= link_to " ", opportunity, method: :delete, class: "btn btn-danger lnr lnr-circle-minus" %>
            </span>
            </div>
          </div>
        <% end %>
      </td>
      <td class="background-orange-light">
        <%= render partial: "inputswotpart", locals: {tipo_do_swotpart: "threat", texto_da_acao: "Ameaça", swot_type: "Ameaça"} %>
        <% @threats.each do |threat| %>
          <div class="card-swot">
            <div class="p-b-15">
              <strong><%= threat.name %></strong>
              <span class="align-right">
              <%= link_to " ", edit_swotpart_path(threat), class: "btn btn-white lnr lnr-pencil" %>
                <%= link_to " ", threat, method: :delete, class: "btn btn-danger lnr lnr-circle-minus" %>
               </span>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
  <br/>
  <div>

    <div class="justify-buttons">
      <%= link_to " Voltar para Planos", new_plan_path, class: "btn btn-default lnr lnr-arrow-left" %>
      <%= link_to " Continuar para Missão", new_mission_path, class: "btn btn-primary lnr lnr-arrow-right align-right" %>
    </div>


  </div>
</div>






