<%= form_tag swotparts_create_swot_swotpart_path do %>
  <%= hidden_field_tag :partname, "strength" %>
  <div class="row">
    <div class="col-xs-2">
      <div class="row">
        <%= text_field_tag :name, "", class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="row">
        <%= submit_tag "+Força", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <% @strengths.each do |strength| %>
    <div class="col-xs-2">
      <div class="row">
        <%= strength.name.truncate(15) %></p>
        <%= link_to "Editar", edit_swotpart_path(strength), :class => "btn btn-primary" %>
        <%= link_to "X", strength, method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

<%= form_tag swotparts_create_swot_swotpart_path do %>
  <%= hidden_field_tag :partname, "weak" %>
  <div class="row">
    <div class="col-xs-2">
      <div class="row">
        <%= text_field_tag :name, "", class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="row">
        <%= submit_tag "+Fraqueza", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <% @weaks.each do |weak| %>
    <div class="col-xs-2">
      <div class="row">
        <%= weak.name.truncate(15) %></p>
        <%= link_to "Editar", edit_swotpart_path(weak), :class => "btn btn-primary" %>
        <%= link_to "X", weak, method: :delete, :class => "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
