<!DOCTYPE html>
<html>
  <head>
    <title>Ltr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar brand: "LTR", brand_link: root_url, responsive: true do %>
      <%= menu_group do %>
        <%= menu_item "Nova Missao", new_mission_path %>
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
