<!DOCTYPE html>
<html>
<head>
  <title>Life to Remind</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= favicon_link_tag asset_path('ltrico.ico') %>
</head>

<body>

<%= render "layouts/navbar" unless @disable_nav %>

<%= render "layouts/notice" %>

<div id="page-container">
  <div id="content-wrap">
    <%= yield %>
  </div>
</div>

<%= render "layouts/footer" unless @disable_footer %>

</body>
</html>


