<!DOCTYPE html>
<html>
<head>
  <title>Life to Remind</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="/assets/theme/animate.min.css">
  <link rel="stylesheet" href="/assets/theme/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/theme/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/theme/templatemo-style.css">
  <script src="/assets/theme/jquery.js"></script>
  <script src="/assets/theme/bootstrap.min.js"></script>
  <script src="/assets/theme/jquery.singlePageNav.min.js"></script>
  <script src="/assets/theme/typed.js"></script>
  <script src="/assets/theme/wow.min.js"></script>
  <script src="/assets/theme/custom.js"></script>
</head>

<body>

<%= render "layouts/header" unless @disable_nav %>

<%= render "layouts/notice" %>

<%= yield %>

<%= render "layouts/footer" unless @disable_footer %>

</body>
</html>


